@model MIS4200Team9.Models.Nominations

@{
    ViewBag.Title = "Details";
}

<h2>Nomination</h2>

<div>
    <h4>Nominations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nominator.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nominator.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nominee.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nominee.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.award)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.award)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizationDate)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.nominationID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
