@model IEnumerable<MIS4200Team9.Models.Nominations>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Nominations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nominator:    
        </th>
        <th>
            Nominee:
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nominator.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nominee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognizationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nominationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.nominationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nominationID })
        </td>
    </tr>
}

</table>
