@model MIS4200Team9.Models.UserDetails

@{
    ViewBag.Title = "Details";
}
@using MIS4200Team9.DAL;
@using MIS4200Team9.Models;

<h1>User Profile</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            First Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            Last Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            Job Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitle)
        </dd>

        <dt>
            Date Hired:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            Photo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>
    </dl>
</div>


<table class="table table-striped">
    <h2>User Nominations</h2>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4">
            @{
                var userID = Model.ID;
                MIS4200Team9Context db = new MIS4200Team9Context();
                var nominations = db.Nominations.Where(n => n.nomineeID == userID).OrderByDescending(n => n.recognitionDate);
                //var nominations = Model.nominees.Where(c => c.nomineeID == userID).ToList();
            }
            @Html.Partial("_nominationsList", nominations.ToList());
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")
</p>
