@model IEnumerable<MIS4200Team9.Models.UserDetails>

@{
    ViewBag.Title = "Index";
}

<H1>Employees</H1>

@*this is the code to put the actual search text box on the index page*@
@using (Html.BeginForm("Index", "UserDetails", FormMethod.Get))

{

<p>
    First or Last Name: @Html.TextBox("searchString")<br />

    <input type="submit" value="Search" />
</p>
            }


<table class="table table-hover">
    <tr>
        <th>
            Email:
        </th>
        <th>
            First Name:
        </th>
        <th>
            Last Name:
        </th>
        <th>
            Job Title:
        </th>
        <th>
            Hire Date:
        </th>
        <th>
            Total Nominations:
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.jobTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hireDate)
    </td>
    <td>
        @ViewBag.rec;
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) *@
        @Html.ActionLink("Details", "Details", new { id = item.ID })
        @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
    </td>
</tr>

        @*{ 
            var nominations = item.nominees.OrderByDescending(n => n.recognitionDate);
            var totalNominations = item.nominees.Count();
            var test = nominations.ToList();
            <table>
                        <tr>
                            <th>Name:</th>
                            <th>Total Nominations = @totalNominations</th>
                            

            
                        </tr>
            </table>

        }*@
    }

</table>
