@model IEnumerable<MIS4200Team9.Models.UserDetails>

@{
    ViewBag.Title = "Index";
}

<H1>Employees</H1>


<table class="table table-hover">
    <tr>
        <th>
            Email:
        </th>
        <th>
            First Name:
        </th>
        <th>
            Last Name:
        </th>
        <th>
            Job Title:
        </th>
        <th>
            Hire Date:
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.firstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.lastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.jobTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.hireDate)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) *@
        @Html.ActionLink("Details", "Details", new { id = item.ID })
        @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
    </td>
</tr>
}

</table>
